<h1>Available Products</h1>

<small>If you are a requester, you can give a quotation for each of the products, which will then be looked over by the
  provider.</small>

<ul *ngIf="products">
  <li *ngFor="let product of products; index as productId" class="d-flex">
    <div class="mr-3 d-flex">
      <img [src]="product.image" class="my-auto">
    </div>
    <div >
      <h3>
        <a  [title]="product.name + ' details'" [routerLink]="['/products',productId]">
          {{product.name}}
        </a>
      </h3>
      <p>{{ product.description }}</p>
      <a class="btn btn-small btn-outline-dark" [title]="product.name + ' details'" [routerLink]="['/products',productId]" *ngIf="user=='req'">
        Request
      </a>
      <a class="btn btn-small btn-outline-dark" [title]="product.name + ' details'" [routerLink]="['/products',productId]" *ngIf="user=='pro'">
        Respond
      </a>
    </div>
  </li>
</ul>
