ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background: rgb(238, 238, 238);
  padding: 2.25rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
